{{ form_start(form, { 'attr' : { 'novalidate': 'novalidate' }}) }}

    <div class="row pt-3">
        <div class="col col-lg-4">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control'} }) }}
            {{ form_errors(form.nombre) }}
        </div>

        <div class="col col-lg-2 mt-4 pt-2">
            <div class="form-check form-switch">
                {{ form_widget(form.activo, { 'attr' : { 'class' : 'form-check-input'}}) }}
            
            </div>
        </div>
    </div>
    <div class="row pt-4">

        <div class="col-lg-6">
            <a href="{{ path('app_finanzas_cta_cte_banco_index') }}" class="btn btn-warning"><< Volver </a>
            <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>


    </div>
    
{{ form_end(form) }}
