{% extends 'navBar.html.twig' %}

{% block title %}Bancos{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container pt-4">

        <div class="h5 pb-4">Administrar Bancos</div>

        <table class="table table-striped table-hover table-bordered data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for banco in bancos %}
            <tr>
                <td>{{ banco.nombre }}</td>
                <td>{{ banco.activo ? 'Si' : 'No' }}</td>
                <td class="text-center">
                    <a class="btn btn-success" href="{{ path('app_finanzas_banco_edit', {'id': banco.id}) }}">Modificar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_finanzas_banco_new') }}">Nuevo Banco</a>
{% endblock %}
