{% extends 'base.html.twig' %}

{% block title %}MetodoChequeCartera{% endblock %}

{% block body %}
    <h1>MetodoChequeCartera</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metodo_cheque_cartera.id }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ metodo_cheque_cartera.importe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_finanzas_metodo_cheque_cartera_index') }}">back to list</a>

    <a href="{{ path('app_finanzas_metodo_cheque_cartera_edit', {'id': metodo_cheque_cartera.id}) }}">edit</a>

    {{ include('finanzas/metodo_cheque_cartera/_delete_form.html.twig') }}
{% endblock %}
