{% extends 'navBar.html.twig' %}

{% block title %}Cuentas Corrientes Clientes{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .action-buttons {
            display: flex;
            gap: 5px; /* Espacio entre los botones */
            justify-content: center; /* Centrar los botones en la celda */
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="ps-4 pt-3 h5">
            Cuenta Corriente {{ tipo == 'c' ? 'Cliente' : 'Proveedor' }}
            <hr>
        </div>

        {{ form_start(form, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'p-4' }}) }}

            <div class="row pt-3">
                <div class="col col-lg-5">
                    {{ form_label(form.empresa_grupo, 'Empresa') }}
                    {{ form_widget(form.empresa_grupo, { 'attr' : { 'class' : 'form-control form-select'} }) }}
                    {{ form_errors(form.empresa_grupo) }}
                </div>
                <div class="col col-lg-5">
                    {{ form_label(form.ente, 'Titular') }}
                    {{ form_widget(form.ente, { 'attr' : { 'class' : 'form-control form-select'} }) }}
                    {{ form_errors(form.ente) }}
                </div>
                <div class="col col-lg-2 pt-4 mt-2">

                    <input type="submit" value="Cargar" class="btn btn-success">

                </div>
            </div>
        {{ form_end(form) }}
    

    <hr>

    {% if movimientos is defined %}
                {% set saldo = 0 %}
                <div class="p-4">
                    <table class="table table-striped table-hover table-bordered  py-4  data-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Fecha</th>
                                <th>Descripcion</th>
                                <th>Credito</th>
                                <th>Debito</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mov in movimientos %}
                            <tr>
                                {% set saldo = saldo + mov.importeFactura - mov.importePago %}
                                <td>
                

                                    <div class="action-buttons">
                                        <a href="{{ (mov.tipo == 'V' ? path('app_administracion_comprobante_cliente_show', { id : mov.idComprobante }) : path('app_finanzas_recibo_show',{ id : mov.idComprobante, 'tipo': tipo }) ) }}" class="btn btn-info btn-sm  btn-open" title="Ver Detalles">
                                            <i class="bi bi-eye"></i>
                                        </a>

                                        <a href="{{ path('app_finanzas_cta_cte_delete_movimiento', { id : mov.id }) }}" class="btn btn-danger btn-sm btn-delete" title="Eliminar" data-detail="{{ mov.detalle}}">
                                            <i class="bi bi-trash"></i> 
                                        </a>
                                    </div>

                                </td>
                                <td data-sort="{{ mov.fechaAlta|date('Y-m-d') }}">{{ mov.fechaAlta|date('d/m/Y') }}</td>
                                <td>{{ mov.detalleComprobante }}</td>
                                <td>$ {{ mov.importeFactura|number_format(2, ',' ,'.') }}</td>
                                <td>$ {{ mov.importePago|number_format(2, ',' ,'.') }}</td>
                                <td>$ {{ saldo|number_format(2, ',' ,'.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
        <tfoot>
            {% set class = tipo == 'c' ? ( saldo > 0 ? 'text-danger' :'text-success') : '' %}
            <tr>
                <td colspan="5" class="text-end pe-4 fw-bold">

                        Saldo Cuenta Corriente
                </td>
                
                <td class="{{ class }} fw-bold">
                    
                    $ {{ saldo|number_format(2, ',' ,'.') }}
                </td>
            </tr>
        </tfoot>
                    </table>


    {% endif %}
    </div>

    <div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl"> 
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Cargando contenido...</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                 
                </div>
            </div>
        </div>




{% endblock %}
{% block javascripts_footer %}
        {{ parent()  }}

        <script>
            $(document).ready(function() {
                                            let modal = $('#dynamicModal');
                                            $('.btn-open').click(function(event) {
                                                    event.preventDefault();
                                                    var modalBody = modal.find('.modal-body');
                                                    let url = $(this).attr('href');
                                                    $.ajax({
                                                            url: url,
                                                            method: 'GET', 
                                                            success: function(response) {
                                                                console.log(response);
                                                                // Cargar el contenido HTML en el cuerpo del modal
                                                                modalBody.html(response);

                                                            },
                                                            error: function(xhr, status, error) {
                                                                modalTitle.text('Error al Cargar');
                                                                modalBody.html('<div class="alert alert-danger">No se pudo cargar el contenido: ' + xhr.status + ' ' + xhr.statusText + '</div>');
                                                            }
                                                        });
                                                    modal.modal('show');
                                            });

                                            $('.btn-delete').click(function(event) {
                                                                                    event.preventDefault();
                                                                                    let a = $(this);
                                                                                    let url = a.attr('href');
                                                                                    let msg = a.data('detail');
                                                                                    bootbox.confirm({
                                                                                        message: 'Seguro eliminar ' +  msg + ' ?',
                                                                                        buttons: {
                                                                                            confirm: {
                                                                                                label: 'Yes',
                                                                                                className: 'btn-success'
                                                                                            },
                                                                                            cancel: {
                                                                                                label: 'No',
                                                                                                className: 'btn-danger'
                                                                                            }
                                                                                        },
                                                                                        callback: function (result) {

                                                                                                            if (result) {
                                                                                                                $.ajax({
                                                                                                                    url: url,
                                                                                                                    method: 'DELETE', 
                                                                                                                    success: function(response) {
                                                                                                                        console.log(response);
                                                                                                                        window.location.reload();
                                                                                                                    },
                                                                                                                    error: function(xhr, status, error) {
                                                                                                                        bootbox.alert('Erro al eliminar el registro');
                                                                                                                    }
                                                                                                                });
                                                                                                            }
                                                                                        }
                                                                                    });
                                            });
                                                


            }); 
            
            </script>
{% endblock %}