{% extends 'navBar.html.twig' %}

{% block title %}Cuentas Corrientes Clientes{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container px-4">

        <div class="py-4 h5">
                Administrar Articulos - Conceptos
        </div>

        <table class="table table-striped table-hover table-bordered  py-4  data-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Circuito</th>
                    <th>Activo</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for articulo_concepto in articulo_conceptos %}
                <tr>
                    <td>{{ articulo_concepto.id }}</td>
                    <td>{{ articulo_concepto.nombre }}</td>
                    <td>{{ articulo_concepto.circuitoText }}</td>
                    <td>{{ articulo_concepto.activo ? 'Si' : 'No' }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{{ path('app_administracion_articulo_concepto_edit', {'id': articulo_concepto.id}) }}">Modificar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('app_administracion_articulo_concepto_new') }}">Nuevo Articulo</a>
    </div>
{% endblock %}
