{% extends 'base.html.twig' %}

{% block title %}ArticuloConcepto index{% endblock %}

{% block body %}
    <h1>ArticuloConcepto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo_concepto in articulo_conceptos %}
            <tr>
                <td>{{ articulo_concepto.id }}</td>
                <td>{{ articulo_concepto.nombre }}</td>
                <td>{{ articulo_concepto.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_administracion_articulo_concepto_show', {'id': articulo_concepto.id}) }}">show</a>
                    <a href="{{ path('app_administracion_articulo_concepto_edit', {'id': articulo_concepto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_administracion_articulo_concepto_new') }}">Create new</a>
{% endblock %}
