<div class="card p-4">
  <h5 class="card-header">Encabezado Recibo</h5>
  <div class="card-body">
        {{ form_start(form, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'p-0 form-recibo' }}) }}

            <div class="row pt-1">
                <div class="col col-lg-6">
                    {{ form_label(form.empresaGrupo) }}
                    {{ form_widget(form.empresaGrupo, { 'attr' : { 'class' : 'form-control form-select'} }) }}
                    {{ form_errors(form.empresaGrupo) }}
                </div>
            </div>  
            <div class="row pt-1">
                <div class="col col-lg-6">
                    {{ form_label(form.enteComercial, type == 'c' ? 'Cliente' : 'Proveedor') }}
                    {{ form_widget(form.enteComercial, { 'attr' : { 'class' : 'form-control form-select'} }) }}
                    {{ form_errors(form.enteComercial) }}
                </div>
                <div class="col col-lg-3">
                    {{ form_label(form.fecha) }}
                    {{ form_widget(form.fecha, { 'attr' : { 'class' : 'form-control'} }) }}
                    {{ form_errors(form.fecha) }}
                </div>
                <div class="col col-lg-3">
                    {{ form_label(form.precioTotalConIva, 'Importe') }}
                    {{ form_widget(form.precioTotalConIva, { 'attr' : { 'class' : 'form-control'} }) }}
                    {{ form_errors(form.precioTotalConIva) }}
                </div>
            </div>        
        <hr>
        <div class="card-header text-muted">Agregar forma pago</div>
        <div class="formEftvo">
            <div class="row pt-1 px-4">
                <div class="col col-lg-6">
                    {{ form_label(form.forma) }}
                    {{ form_widget(form.forma, { 'attr' : {'step' : "0.01",  'class' : 'form-control form-select forma-select'} }) }}
                    {{ form_errors(form.forma) }}
                </div>
            </div>
        {{ form_end(form) }}
                {{ form_start(formEftvo, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas E reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-6">
                            {{ form_label(formEftvo.caja) }}
                            {{ form_widget(formEftvo.caja, { 'attr' : { 'class' : 'form-control form-select ef-caja '} }) }}
                            {{ form_errors(formEftvo.caja) }}
                        </div>
                        <div class="col col-lg-3">
                            {{ form_label(formEftvo.importe) }}
                            {{ form_widget(formEftvo.importe, { 'attr' : { 'class' : 'form-control ef-monto'} }) }}
                            {{ form_errors(formEftvo.importe) }}
                        </div>
                        <div class="col col-lg-3 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning ef-save" name="">
                        </div>
                    </div>
                {{ form_end(formEftvo) }}

                {{ form_start(formTrx, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas T reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-6">
                            {{ form_label(formTrx.ctacte) }}
                            {{ form_widget(formTrx.ctacte, { 'attr' : { 'class' : 'form-control form-select trx-caja '} }) }}
                            {{ form_errors(formTrx.ctacte) }}
                        </div>
                        <div class="col col-lg-3">
                            {{ form_label(formTrx.importe) }}
                            {{ form_widget(formTrx.importe, { 'attr' : { 'class' : 'form-control trx-monto'} }) }}
                            {{ form_errors(formTrx.importe) }}
                        </div>
                        <div class="col col-lg-3 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning trx-save" name="">
                        </div>
                    </div>
                {{ form_end(formTrx) }}

                {{ form_start(formChequePropio, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas CP reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-2">
                            {{ form_label(formChequePropio.numeroCheque) }}
                            {{ form_widget(formChequePropio.numeroCheque, { 'attr' : { 'class' : 'form-control chp-num '} }) }}
                            {{ form_errors(formChequePropio.numeroCheque) }}
                        </div>
                        <div class="col col-lg-4">
                            {{ form_label(formChequePropio.ctaCteBanco) }}
                            {{ form_widget(formChequePropio.ctaCteBanco, { 'attr' : { 'class' : 'form-control form-select chp-cta '} }) }}
                            {{ form_errors(formChequePropio.ctaCteBanco) }}
                        </div>
                        <div class="col col-lg-2">
                            {{ form_label(formChequePropio.fechaPago) }}
                            {{ form_widget(formChequePropio.fechaPago, { 'attr' : { 'class' : 'form-control chp-fecha '} }) }}
                            {{ form_errors(formChequePropio.fechaPago) }}
                        </div> 
                        <div class="col col-lg-2">
                            {{ form_label(formChequePropio.importe) }}
                            {{ form_widget(formChequePropio.importe, { 'attr' : { 'class' : 'form-control chp-monto'} }) }}
                            {{ form_errors(formChequePropio.importe) }}
                        </div>
                        <div class="col col-lg-2 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning chp-save" name="">
                        </div>
                    </div>
                {{ form_end(formChequePropio) }}

                {{ form_start(formCheque, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas C reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-2">
                            {{ form_label(formCheque.numeroCheque) }}
                            {{ form_widget(formCheque.numeroCheque, { 'attr' : { 'class' : 'form-control ch-num '} }) }}
                            {{ form_errors(formCheque.numeroCheque) }}
                        </div>
                        <div class="col col-lg-2">
                            {{ form_label(formCheque.banco) }}
                            {{ form_widget(formCheque.banco, { 'attr' : { 'class' : 'form-control form-select ch-bco '} }) }}
                            {{ form_errors(formCheque.banco) }}
                        </div>
                        <div class="col col-lg-2">
                            {{ form_label(formCheque.fechaPago) }}
                            {{ form_widget(formCheque.fechaPago, { 'attr' : { 'class' : 'form-control ch-fecha '} }) }}
                            {{ form_errors(formCheque.fechaPago) }}
                        </div>
                        <div class="col col-lg-2">
                            {{ form_label(formCheque.librador) }}
                            {{ form_widget(formCheque.librador, { 'attr' : { 'class' : 'form-control ch-lib '} }) }}
                            {{ form_errors(formCheque.librador) }}
                        </div>
                        <div class="col col-lg-2">
                            {{ form_label(formCheque.importe) }}
                            {{ form_widget(formCheque.importe, { 'attr' : { 'class' : 'form-control ch-monto'} }) }}
                            {{ form_errors(formCheque.importe) }}
                        </div>
                        <div class="col col-lg-2 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning ch-save" name="">
                        </div>
                    </div>
                {{ form_end(formCheque) }}

                {{ form_start(formChequeCartera, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas CC reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-9">
                            {{ form_label(formChequeCartera.chequeCartera) }}
                            {{ form_widget(formChequeCartera.chequeCartera, { 'attr' : { 'class' : 'form-control form-select chc-ch '} }) }}
                            {{ form_errors(formChequeCartera.chequeCartera) }}
                        </div>
                        <div class="col col-lg-3 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning chc-save" name="">
                        </div>
                    </div>
                {{ form_end(formChequeCartera) }}

                {{ form_start(formRetenciones, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'px-4 all-formas R reset-form' }}) }}
                    <div class="row pt-3">
                        <div class="col col-lg-6">
                            {{ form_label(formRetenciones.tipoRetencion) }}
                            {{ form_widget(formRetenciones.tipoRetencion, { 'attr' : { 'class' : 'form-control form-select ret-caja '} }) }}
                            {{ form_errors(formRetenciones.tipoRetencion) }}
                        </div>
                        <div class="col col-lg-3">
                            {{ form_label(formRetenciones.importe) }}
                            {{ form_widget(formRetenciones.importe, { 'attr' : { 'class' : 'form-control ret-monto'} }) }}
                            {{ form_errors(formRetenciones.importe) }}
                        </div>
                        <div class="col col-lg-3 pt-4 mt-2">
                            <input type="button" value="Guardar" class="btn btn-warning ret-save" name="">
                        </div>
                    </div>
                {{ form_end(formRetenciones) }}

                <hr>
                <br>
                <div class="card-header text-muted">Formas pago asignadas</div>
                <div class="px-4">
                    <table class="table table-sm table-hover" id="table-forma">
                        <thead>
                            <tr>
                                <th>Forma Cancelacion</th>
                                <th>Detalle</th>
                                <th>Importe</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>

    </div>
    <input type="button" class="btn btn-success save-recibo" value="Guardar Recibo"/>
</div>

<hr>

