{% extends 'navBar.html.twig' %}

{% block title %}Recibo{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4">

        <div class="h5 pb-4">Nuevo Recibo {{ type == 'c' ? 'Cobranza Cliente' : 'Pago a Proveedor' }}</div>

        <div id="flash-messages-container py-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success flash-message">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger flash-message">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning flash-message">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('info') %}
                <div class="alert alert-info flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {{ include('finanzas/recibo/_form.html.twig') }}

    </div>
{% endblock %}

{% block javascripts_footer %}
        {{ parent()  }}

        <script>

                let formas = [];
                let tableBody = $('#table-forma tbody');

                function removeItem(i){
                                        formas.splice(i, 1);
                                        loadTable();
                };


                function loadTable()
                {

                    tableBody.empty();
                    let tfp = 0;

                    formas.forEach(function (el, indice, array) {
                                                                      tfp = tfp + parseFloat(el.monto);
                                                                      let btn = '<input onclick="removeItem(' + indice +');" type="button" class="btn btn-sm btn-danger btn-remove" value="Quitar"/>';
                                                                      tableBody.append("<tr><td>" + el.type.name + "</td><td>"+el.caja.name+"</td><td class='text-right'>$ " + parseFloat(el.monto).toFixed(2) + "</td><td>" + btn +"</td>/tr>" );
                                                                    });
                    tableBody.append("<tr class='text-muted'><td class='text-muted'>Total</td><td></td><td class='text-right text-muted'>$ " + tfp.toFixed(2) + "</td><td></td>/tr>" );
                        $('.forma-select').val('');
                        $('.all-formas').hide();
                    
                }

                $(document).ready(function(){

                                                $('.save-recibo').click(function(event){
                                                                                        event.preventDefault();  
                                                                                        let btn = $(this);
                                                                                        btn.hide();                                                         
                                                                                           
                                                                                        var data = $('.form-recibo').serializeArray().reduce(function(obj, item) {
                                                                                                                            obj[item.name] = item.value;
                                                                                                                            return obj;
                                                                                                                        }, {});
                                                                                        data.formas = JSON.stringify(formas);
                                                                                        console.log(data);
                                                                                        $.post("{{ path('app_finanzas_recibo_new', { type : type }) }}",
                                                                                                data,
                                                                                                function(result){
                                                                                                                   if (result.ok)
                                                                                                                   {
                                                                                                                        window.location.href = "{{ path('app_finanzas_recibo_new', { type : type }) }}";
                                                                                                                   }
                                                                                                                   else
                                                                                                                   {

                                                                                                                        bootbox.alert(result.message);
                                                                                                                        btn.show();                                                                                                                        
                                                                                                                   }
                                                                                                });

                                                });

                                                $('.all-formas').hide();

                                                $('.ef-save').click(function(event){
                                                                                        event.preventDefault();
                                                                                        let caja = $('.ef-caja option:selected');
                                                                                        let obj = {
                                                                                                        type: { code: 'e', name: 'Efectivo' },
                                                                                                        caja: { code: caja.val(), name: caja.text()},
                                                                                                        monto: $('.ef-monto').val()
                                                                                                  };
                                                                                        formas.push(obj);

                                                                                        $('.E')[0].reset();                                                                                        
                                                                                        loadTable();
                                                });

                                                $('.trx-save').click(function(event){
                                                                                        event.preventDefault();
                                                                                        let cc = $('.trx-caja option:selected');
                                                                                        let obj = {
                                                                                                        type: { code: 't', name: 'Transferencia' },
                                                                                                        caja: { code: cc.val(), name: cc.text()},
                                                                                                        monto: $('.trx-monto').val()
                                                                                                  };
                                                                                        formas.push(obj);

                                                                                        $('.T')[0].reset();
                                                                                
                                                                                        loadTable();
                                                });

                                                $('.ch-save').click(function(event){
                                                                                        event.preventDefault();
                                                                                        let bco = $('.ch-bco option:selected');
                                                                                        let obj = {
                                                                                                        type: { code: 'c', name: 'Cheque' },
                                                                                                        caja: { code: bco.val(), name: 'Nº: '+ $('.ch-num').val() + ' - ' + bco.text()},
                                                                                                        monto: $('.ch-monto').val(),
                                                                                                        fecha: $('.ch-fecha').val(),
                                                                                                        numero: $('.ch-num').val(),
                                                                                                        librador: $('.ch-lib').val()
                                                                                                  };
                                                                                        formas.push(obj);

                                                                                        $('.C')[0].reset();
                                                                                
                                                                                        loadTable();
                                                }); 

                                                $('.chp-save').click(function(event){
                                                                                        event.preventDefault();
                                                                                        let cta = $('.chp-cta option:selected');
                                                                                        let obj = {
                                                                                                        type: { code: 'cp', name: 'Cheque Propio' },
                                                                                                        caja: { code: cta.val(), name: 'Cta: ' + cta.text() + '  -  Nº: ' + $('.chp-num').val()},
                                                                                                        monto: $('.chp-monto').val(),
                                                                                                        fecha: $('.chp-fecha').val(),
                                                                                                        numero: $('.chp-num').val(),
                                                                                                  };
                                                                                        formas.push(obj);

                                                                                        $('.CP')[0].reset();
                                                                                
                                                                                        loadTable();
                                                }); 

                                                $('.chc-save').click(function(event){
                                                                                        event.preventDefault();
                                                                                        let cc = $('.chc-ch option:selected');
                                                                                        let obj = {
                                                                                                        type: { code: 'chc', name: 'Cheque en Cartera' },
                                                                                                        caja: { code: cc.val(), name: cc.text()},
                                                                                                        monto: cc.data('monto')
                                                                                                  };
                                                                                        formas.push(obj);

                                                                                        $('.CC')[0].reset();
                                                                                
                                                                                        loadTable();
                                                });

                                                $('.forma-select').change(function(){
                                                                                        $('.all-formas').hide();
                                                                                        let s = $(this);                                                      
                                                                                        $('.' + s.val()).show();
                                                });

                });

        </script>
{% endblock %}
