   <ul class="h5">
        <li class="py-2">Fecha : {{ recibo.fecha ? recibo.fecha|date('d/m/Y') : '' }}</li>
        <li class="py-2">{{ label }}: {{ recibo.enteComercial }}</li>
    </ul>
    
    
<hr>

    <table class="table table-">
        <thead>
            <tr>
                    <th>Metodo Pago</th>
                    <th>Descripcion</th>
                    <th>Importe</th>
            </tr>
            </thead>
            <tbody>
          
                    {% for it in recibo.metodos %}
                        <tr>
                            <td>{{ it.tipo }}</td>
                            <td>{{ it }}</td>
                            <td>{{ (it.importe)|number_format(2, ',' ,'.') }}</td>
                        </tr>
                    {% endfor %}
  
            </tbody>

    </table>
