{% extends 'navBar.html.twig' %}

{% block title %}{{ label }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container pt-4">

        <div class="h5 pb-4">Administrar {{ label }}</div>

        <table class="table table-striped table-hover table-bordered  py-4  data-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RazonSocial</th>
                <th>Cuit</th>
                <th>Activo</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %} 
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.razonSocial }}</td>
                <td>{{ cliente.cuit }}</td>
                <td>{{ cliente.activo ? 'Yes' : 'No' }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.mail }}</td>
                <td>
                    <a href="{{ path('app_administracion_cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_administracion_cliente_new', { code : code }) }}" class="btn btn-primary" >Nuevo {{ label }}</a>
{% endblock %}
