{{ form_start(form, { 'attr' : { 'novalidate': 'novalidate', 'class' : 'p-4' }}) }}


<div class="card p-4">
  <h5 class="card-header">Encabezado Factura Venta</h5>
  <div class="card-body">
    <div class="row pt-3">
        <div class="col col-lg-6">
            {{ form_label(form.enteComercial) }}
            {{ form_widget(form.enteComercial, { 'attr' : { 'class' : 'form-control form-select'} }) }}
            {{ form_errors(form.enteComercial) }}
        </div>
        <div class="col col-lg-3">
            {{ form_label(form.tipoComprobante) }}
            {{ form_widget(form.tipoComprobante, { 'attr' : { 'class' : 'form-control form-select'} }) }}
            {{ form_errors(form.tipoComprobante) }}
        </div>
        <div class="col col-lg-3">
            {{ form_label(form.fecha) }}
            {{ form_widget(form.fecha, { 'attr' : { 'class' : 'form-control'} }) }}
            {{ form_errors(form.fecha) }}
        </div>
    </div>
    <div class="row pt-3">
        <div class="col col-lg-3">
            {{ form_label(form.identificacionComprobante) }}
            {{ form_widget(form.identificacionComprobante, { 'attr' : { 'class' : 'form-control form-select'} }) }}
            {{ form_errors(form.identificacionComprobante) }}
        </div>
        <div class="col col-lg-3">
            {{ form_label(form.puntoVenta) }}
            {{ form_widget(form.puntoVenta, { 'attr' : { 'class' : 'form-control'} }) }}
            {{ form_errors(form.puntoVenta) }}
        </div>
        <div class="col col-lg-3">
            {{ form_label(form.numero) }}
            {{ form_widget(form.numero, { 'attr' : { 'class' : 'form-control'} }) }}
            {{ form_errors(form.numero) }}
        </div>
        <div class="col col-lg-3 pt-4 pl-4">

            <div class="form-check form-switch pl-4">
                {{ form_label(form.afectaCtaCte) }}
                {{ form_widget(form.afectaCtaCte, { 'attr' : {'class' : 'form-check-input pl-4'}}) }}
            </div>

        </div>
    </div>
    <button type="button" id="add-item-button" class="btn btn-secondary mt-2">Añadir ítem</button>


</div>
</div>

<div class="card p-4">
  <h5 class="card-header">Items Factura Venta</h5>
  <div class="card-body">
    {{ form_errors(form) }}
    <ul id="items-collection"
        data-prototype="
            <li class='item-entry border p-3 mb-3 rounded item-form'>
                

                <div class='row g-3 align-items-end'> {# Usamos g-3 para espaciado de columnas y align-items-end para alinear bien los campos #}
                    <div class='col-md-3'>
                        <label for='{{ form.items.vars.prototype.articulo.vars.id }}' class='form-label'>Producto</label>
                        {# Aquí va la renderización manual del SELECT para el prototipo #}
                        <select id='{{ form.items.vars.prototype.articulo.vars.id }}' 
                                name='{{ form.items.vars.prototype.articulo.vars.full_name }}' 
                                class='form-select form-control-sm form-control'> {# Usa form-select para Bootstrap #}
                            <option value=''>Seleccione un producto</option>
                        </select>
                    </div>
                    <div class='col-md-3'>
                        <label for='{{ form.items.vars.prototype.descripcion.vars.id }}' class='form-label'>Descripcion</label>
                        <input type='text' id='{{ form.items.vars.prototype.descripcion.vars.id }}' name='{{ form.items.vars.prototype.descripcion.vars.full_name }}' class='form-control form-control-sm'>
                        {# Aquí podrías añadir un span para errores si los manejas con JS, o dejar que Symfony los ponga si envías el formulario #}
                    </div>
                    <div class='col-md-2'>
                        <label for='{{ form.items.vars.prototype.cantidad.vars.id }}' class='form-label'>Cantidad</label>
                        <input type='number' id='{{ form.items.vars.prototype.cantidad.vars.id }}' name='{{ form.items.vars.prototype.cantidad.vars.full_name }}' class='form-control form-control-sm'>
                        {# Aquí podrías añadir un span para errores si los manejas con JS, o dejar que Symfony los ponga si envías el formulario #}
                    </div>
                    <div class='col-md-2'>
                        <label for='{{ form.items.vars.prototype.precioUnitario.vars.id }}' class='form-label'>Importe</label>
                        <input type='text' id='{{ form.items.vars.prototype.precioUnitario.vars.id }}' name='{{ form.items.vars.prototype.precioUnitario.vars.full_name }}' class='form-control form-control-sm'>
                    </div>
                    <div class='col-md-2'>
                        <button type='button' class='btn btn-danger remove-item-button btn-sm'>Eliminar Ítem</button>
                    </div>
                    
                </div>
            </div>
            </li>"
        data-index="{{ form.items|length }}">
        {% for itemForm in form.items %}
  
            <li class="item-entry item-form"> {# Añadimos una clase para facilitar la selección #}

                
                <div class='row g-3 align-items-end'> {# Usamos g-3 para espaciado de columnas y align-items-end para alinear bien los campos #}
                    <div class='col-md-4'>
                            {{ form_label(itemForm.articulo) }}
                            {{ form_widget(itemForm.articulo, { 'attr' : { 'class' : 'form-control form-select form-control-sm' } }) }}
                            {{ form_errors(itemForm.articulo) }}
                    </div>
                    <div class='col-md-4'>
                            {{ form_label(itemForm.descripcion) }}
                            {{ form_widget(itemForm.descripcion, { 'attr' : { 'class' : 'form-control form-control-sm' } }) }}
                            {{ form_errors(itemForm.descripcion) }}
                    </div>
                    <div class='col-md-2'>
                            {{ form_label(itemForm.cantidad) }}
                            {{ form_widget(itemForm.cantidad, { 'attr' : { 'class' : 'form-control form-control-sm' } }) }}
                            {{ form_errors(itemForm.cantidad) }}
                    </div>
                    <div class='col-md-2'>
                            {{ form_label(itemForm.precioUnitario) }}
                            {{ form_widget(itemForm.precioUnitario, { 'attr' : { 'class' : 'form-control form-control-sm' } }) }}
                            {{ form_errors(itemForm.precioUnitario) }}
                    </div>
                    <div class='col-md-2'>
                        <button type='button' class='btn btn-danger remove-item-button-exists btn-sm'>Eliminar Ítem</button>
                    </div>
                </div>       
                   
            </li>

        {% endfor %}
    </ul>
    
</div>
</div>
{{ form_end(form) }}
