{% extends 'base.html.twig' %}

{% block title %}ComprobanteCliente index{% endblock %}

{% block body %}
    <h1>ComprobanteCliente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>PuntoVenta</th>
                <th>Numero</th>
                <th>DocumentoPdf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobante_cliente in comprobante_clientes %}
            <tr>
                <td>{{ comprobante_cliente.id }}</td>
                <td>{{ comprobante_cliente.fecha ? comprobante_cliente.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ comprobante_cliente.puntoVenta }}</td>
                <td>{{ comprobante_cliente.numero }}</td>
                <td>{{ comprobante_cliente.documentoPdf }}</td>
                <td>
                    <a href="{{ path('app_administracion_comprobante_cliente_show', {'id': comprobante_cliente.id}) }}">show</a>
                    <a href="{{ path('app_administracion_comprobante_cliente_edit', {'id': comprobante_cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_administracion_comprobante_cliente_new', { code : 'c' }) }}">Create new</a>
{% endblock %}
