{% extends 'base.html.twig' %}

{% block title %}ComprobanteCliente{% endblock %}

{% block body %}
    <h1>ComprobanteCliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprobante_cliente.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comprobante_cliente.fecha ? comprobante_cliente.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PuntoVenta</th>
                <td>{{ comprobante_cliente.puntoVenta }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ comprobante_cliente.numero }}</td>
            </tr>
            <tr>
                <th>Letra</th>
                <td>{{ comprobante_cliente.letra }}</td>
            </tr>
            <tr>
                <th>DocumentoPdf</th>
                <td>{{ comprobante_cliente.documentoPdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administracion_comprobante_cliente_index') }}">back to list</a>

    <a href="{{ path('app_administracion_comprobante_cliente_edit', {'id': comprobante_cliente.id}) }}">edit</a>

    {{ include('administracion/comprobante_cliente/_delete_form.html.twig') }}
{% endblock %}
