    {% set class = comprobante.pagoCompleto ? 'text-success' : 'text-danger' %}
   <ul class="h5">
        <li class="py-1">Fecha : {{ comprobante.fecha ? comprobante.fecha|date('d/m/Y') : '' }}</li>
        <li class="py-1">Comprobante: {{ comprobante }}</li>
        <li class="py-1">{{ label }}: {{ comprobante.enteComercial }}</li>
        <li class="py-1">Importe Final: $ {{ comprobante.precioTotalConIva|number_format(2, ',' ,'.') }}</li>
        <li class="py-1">Estado: <span class="{{ class }}"> {{  comprobante.pagoCompleto ? 'Pagada' : 'Pendiente Pago' }}</span></li>
        {% if not comprobante.pagoCompleto %}
            <li class="py-1">Saldo a cancelar: <span class="{{ class }}">$ {{ comprobante.saldoACancelar|number_format(2, ',' ,'.') }}</span></li>
        {% endif %}
    </ul>
    
    
<hr>

    <table class="table table-">
        <thead>
            <tr>
                    <th>Articulo/Concepto</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Total S/ IVA </th>
                    <th>IVA</th>
                    <th>Total IVA Inc.</th>
            </tr>
            </thead>
            <tbody>
          
                    {% for it in comprobante.items %}
                        <tr>
                            <td>{{ it.articulo }}</td>
                            <td>{{ it.descripcion }}</td>
                            <td>{{ it.cantidad  }}</td>
                            <td>{{ it.precioTotalSinIva|number_format(2, ',' ,'.') }}</td>
                            <td>{{ (it.precioTotal - it.precioTotalSinIva)|number_format(2, ',' ,'.') }}</td>
                            <td>{{ (it.precioTotal)|number_format(2, ',' ,'.') }}</td>
                        </tr>
                    {% endfor %}
  
            </tbody>

    </table>

