{% extends 'navBar.html.twig' %}

{% block title %}EmpresaGrupo index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4">

        <div class="h5 pb-4">Administrar empresas del grupo</div>

        <table class="table table-striped table-hover table-bordered  py-4  data-table">
            <thead>
                <tr>
                    <th>RazonSocial</th>
                    <th>Cuit</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for empresa_grupo in empresa_grupos %}
                <tr>
                    <td>{{ empresa_grupo.razonSocial }}</td>
                    <td>{{ empresa_grupo.cuit }}</td>
                    <td>{{ empresa_grupo.activo ? 'Si' : 'No' }}</td>
                    <td>
                        <a  class="btn btn-success" href="{{ path('app_administracion_empresa_grupo_edit', {'id': empresa_grupo.id}) }}">Modificar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="{{ path('app_administracion_empresa_grupo_new') }}" class="btn btn-primary" >Nueva Empresa</a>
    </div>
{% endblock %}
