{{ form_start(form, { 'attr' : { 'novalidate': 'novalidate' }}) }}

    <div class="row pt-3">
        <div class="col col-lg-4">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control'} }) }}
            {{ form_errors(form.nombre) }}
        </div>

    </div>
    <div class="row pt-4">

        <div class="col-lg-6">
            <a href="{{ path('app_finanzas_tipo_retencion_index') }}" class="btn btn-warning"><< Volver </a>
            <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>


    </div>
    
{{ form_end(form) }}

